name: Run Gradle on PRs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  gradle:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-java@v5.2.0
      with:
        distribution: zulu
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Execute Gradle build
      run: ./gradlew --no-daemon build

    - name: Generate Coverage Report
      run: ./gradlew --no-daemon jacocoTestReport

    - name: Publish Coverage
      uses: codecov/codecov-action@v5
      with:
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
